body{
    font-family: 'Times New Roman', Times, serif;
}
table{
    border-color: #3B3086;
}
.header p{
    margin: 5px;
    text-align: center;
    color: #550000;
    font-size:30pt;
}
.header span1{
    font-weight: bold;
    color: #FFC54D;
}
.header span p1{
    color: blue;
    text-align: center;
    font-size:10pt;
}
.title h1{
    color: #3B3086;
    font-size: 28px;
    margin: 5px;
}
.subtitle p{
    color: #3B3086;
    font-size: 20px;
    font-weight: bold;
    margin: 5px;
}
.subtitle span {
    color: red;
    font-size: 20px;
    font-weight: bold;
    margin: 5px;
}
.details p{
    font-size: 18px;
    margin: 5px;
}
.details tr td{
    text-align: center;
    font-size: 18px;
    margin: 5px;
}
.details .la{
    color: #3B3086;
    font-weight:700;
}
.custom-button {
    width: 100px;
    padding: 5px 10px; /* Adjust the padding values as needed */
}


  