@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');
.content{
  position: relative;
  height: 100%;
  width: calc(100% - 78px); 
  left: 78px;
  transition: all 0.5s ease;
}
.content .content_1{
  background: #ebe9e9;
  padding: 1rem;
  border-radius: 10px;
  font-size: 25px;
  font-weight: 500;
  color: #3B3086;
  margin: 12px;
}
.readonly
{
	background-color: #D7D7D7;
}

.container{
  position: relative;
  
  width: 100%;
  padding: 30px;
  
}
.container header{
  position: relative;
  font-size: 26pt;
  font-weight: 600;
  color:#3B3086;
}
.container form .buttons {
  display: flex;
  align-items: center;
  justify-content:space-between; /* Align buttons to the right */
  margin-top: 30px; /* Add some top margin to separate from other fields */
}

.container form .buttons button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 45px;
  width: 100%;
  border: none;
  outline: none;
  color: #fff;
  border-radius: 5px;
  margin-left: 50px;
  margin-right: 60px;
  background-color:  #3B3086;
  transition: all 0.3s linear;
  cursor: pointer;
}

.container form .buttons .btnText{
  padding: 50pt;
  font-size: 14px;
  font-weight:600;
}
.container form .buttons .button{
  display: flex;
  align-items: center;
}

.container form{
  position: relative;
  margin-top: 16px;
  min-height: 490px;
  overflow: hidden;
}
.container form .form{
  position: absolute;
  transition: 0.3s ease;
}
.container form .form.second{
  opacity: 0;
  pointer-events: none;
  transform: translateX(100%);
}
form.secActive .form.second{
  opacity: 1;
  pointer-events: auto;
  transform: translateX(0);
}
form.secActive .form.first{
  opacity: 0;
  pointer-events: none;
  transform: translateX(-100%);
}
.container form .title{
  display: block;
  margin-bottom: 8px;
  font-size: 16pt;
  font-weight: 500;
  margin: 6px 0;
  color: #3B3086;
}
.container form .fields{
  display: flex;
  align-items: center;
  justify-content:space-around;
  flex-wrap: wrap;
}
form .fields .input-field{
  display: flex;
  width: calc(100% / 3 - 15px);
  flex-direction: column;
  margin: 4px 0;
}
.input-field label{
  font-size: 12pt;
  font-weight: bold;
  color: #3B3086;
}
.input-field input, select{
  outline: none;
  font-size: 14px;
  font-weight: 400;
  color: #333;
  border-radius: 5px;
  border: 1px solid #aaa;
  padding: 0 15px;
  height: 42px;
  margin: 8px 0;
}
.input-field input :focus,
.input-field select:focus{
  box-shadow: 0 3px 6px rgba(0,0,0,0.13);
}
.input-field select,
.input-field input[type="date"]{
  color: #707070;
}
.input-field input[type="date"]:valid{
  color: #333;
}





@media (max-width: 750px) {
  .container form{
      overflow-y: scroll;
  }
  .container form::-webkit-scrollbar{
     display: none;
  }
  form .fields .input-field{
      width: calc(100% / 2 - 15px);
  }
}

@media (max-width: 550px) {
  form .fields .input-field{
      width: 100%;
  }
}