.hviewfile {
  position: relative;
  height: 500px;
  /* Set a fixed height for the container */
  width: calc(100% - 78px);
  left: 78px;
  transition: all 0.5s ease;
}

.hviewfile .text1 {
  background: #ebe9e9;
  padding: 1rem;
  border-radius: 10px;
  font-weight: bold;
  color: #3B3086;
  margin: 12px;
}

a {
  text-decoration: none;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

th {
  font-size: 14pt;
  background-color: #3B3086;
  text-align: center;
  color: white;
}

tr:nth-child(even) {
  background-color: #fff;
}

tr:hover {
  cursor: pointer;
  background-color: #ddd;
}